<tr>
    <td width="38"></td>
    <td width="680"><table width="680" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td colspan="3" height="40"></td>
        </tr>
        <tr>
            <td width="85" valign="top" style="text-align:center;"><img src="<?php if($avatar_2):?>http:<?=\Yii::$app->helper->getImgDomain().'/'.$avatar_2?><?php else:?>http://img1.quimg.com/images/client_service_home/user.png<?php endif;?>" width="82" height="82" alt="行程顾问" style=" margin-bottom:10px;" /><br />
                <?=$name_en?><br />
                行程顾问</td>
            <td width="35" valign="top" align="right"><img src="http://img1.quimg.com/images/email/arrow.png" width="14" height="55" /></td>
            <td width="560" style="background: #fff; border-radius: 10px; box-shadow: 6px 6px 6px #e0e0e0;">
                <table width="560" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="25"></td>
                        <td width="510" height="50" style="font-size: 24px; color: #333;">
                            Hi&nbsp;<span style="color: #4db6d9;"><?=$screenname?></span>
                        </td>
                        <td width="25"></td>
                    </tr>
                    <tr>
                        <td width="25"></td>
                        <td width="510" style="font-size: 16px; line-height: 24px; color: #333;">您本次的行程还顺利吗？我们期待您与我们分享此行的收获， 如有任何意见建议 欢迎留言！</td>
                        <td width="25"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="10"></td>
                    </tr>
                    <tr>
                        <td width="25"></td>
                        <td width="510" style="font-size: 14px; line-height: 24px; color: #999;">
                            订单编号：<?=$orderconf?><br /> 产品名称：<a href="<?=\Yii::$app->params['service']['www']?>/tour/view/tourcode-<?=$tourcode?>" target="_blank" style="color: #999;"><?=$product_title?> 编号：<?=$tourcode?></a><br /> 出发日期：<?=$departure_date?>
                        </td>
                        <td width="25"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="10"></td>
                    </tr>
                    <tr>
                        <td width="25"></td>
                        <td width="510">
                            <a href="<?=$rateUrl?>&utm_source=email&utm_campaign=review_tour&utm_content=25" target="_blank"><img src="http://img1.quimg.com/images/email/btn01.png" width="125" height="33" alt="点评该行程" /></a>
                        </td>
                        <td width="25"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="10"></td>
                    </tr>
                    <tr>
                        <td width="25"></td>
                        <td width="510" height="55" style="padding: 15px; background: #fef3d7; border-radius: 6px; font-size: 13px; line-height: 24px; color: #9b7100;">
                            完成点评后即可获得 <span style="color: #ff4d2c">价值25美金优惠券</span>
                            <p style="color: #999; line-height: 20px;">点评优惠活动具有时效性，请在7天内完成点评。如若超出时效范围，请以指定产品的当前优惠活动为准。</p>
                        </td>
                        <td width="25"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="30"></td>
                    </tr>
                    </tbody>
                </table>
                <table style="font-family: Verdana, Geneva, sans-serif; padding: 30px 0; border-bottom: 0px solid #2aa3ce; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee;" align="center" cellspacing="0" width="640">
                    <tbody>
                    <tr>
                        <td align="center" width="190">
                            <div style="border-right: 1px solid #eee;">
                                <img src="http://img1.quimg.com/images/email/referral/invite_logo.png" />
                            </div>
                        </td>
                        <td align="left" width="390" style="color: #222; font-size: 14px; padding: 0 30px; line-height: 20px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;和好友共享旅游基金！邀请好友后，好友注册成功即可获得<i style="color: #ff5500; font-weight: bold; font-style: normal;">$25</i>好友旅游基金。好友出游后，您还能获得团费<i style="color: #ff5500; font-weight: bold; font-style: normal">1.5%</i>的等值积分奖励！ <a href="<?=\Yii::$app->params['service']['ssl']?>/my/referral?utm_source=referral&utm_medium=email&utm_campaign=referralemail_invoice" target="_blank" style="text-decoration: none; display: block; width: 312px; height: 36px; line-height: 36px; text-align: center; background: #f8ac00; color: #fff; font-size: 16px; font-family: '微软雅黑'; margin-top: 15px; border-radius: 5px;">不吝啬&nbsp;&nbsp;现在就分享给朋友</a>
                        </td>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" height="40"></td>
        </tr>
        </tbody>
    </table></td>
    <td width="32"></td>
</tr>