<tr>
    <td width="38"></td>
    <td width="680">
        <table width="680" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td colspan="3" height="40"></td>
            </tr>
            <tr>
                <td width="85" valign="top" style="text-align:center;"><img src="http://img1.quimg.com/<?=$avatar_2?>" width="82" height="82" alt="行程顾问" style=" margin-bottom:10px;" /><br />
                    <?=$name_en?><br />
                    行程顾问</td>
                <td width="35" valign="top" align="right"><img src="http://img1.quimg.com/images/email/arrow.png" width="14" height="55" /></td>
                <td width="560" style=" background:#fff; border-radius:10px;box-shadow:6px 6px 6px #e0e0e0;"><table width="560" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td colspan="3" height="10"></td>
                        </tr>
                        <tr>
                            <td width="25"></td>
                            <td width="510" height="50" style="font-size:24px;color:#333;">Hi&nbsp;<span style="color:#4db6d9;"><?=$user_name?></span></td>
                            <td width="25"></td>
                        </tr>
                        <tr>
                            <td width="25"></td>
                            <td width="510" style="font-size:16px; line-height:24px;color:#333;">您的航班信息尚未填写，如需接送机服务，请尽快填写完成哦！</td>
                            <td width="25"></td>
                        </tr>
                        <tr>
                            <td colspan="3" height="10"></td>
                        </tr>
                        <tr>
                            <td width="25"></td>
                            <td width="510" style="font-size:14px; line-height:24px;color:#999;">订单编号：<?=$orderconf?><br />
                                产品名称：<a href="#" target="_blank" style="color:#999;"><?=$product_title?></a><br />
                                出发日期：<?=$departure_date?> </td>
                            <td width="25"></td>
                        </tr>
                        <tr>
                            <td colspan="3" height="10"></td>
                        </tr>
                        <tr>
                            <td width="25"></td>
                            <td width="510"><a href="<?=Yii::$app->config->ssl?>/my/orderdetail?type=1&bookingconf=<?=$bookingconf?>&orderid=<?=$orderid?>&email=<?=$user_email?>&hash=<?=$hash?>&hashtime=<?=$hashtime?>" target="_blank"><img src="http://img1.quimg.com/images/email/btn02.png" width="128" height="33" alt="更新航班信息" /></a></td>
                            <td width="25"></td>
                        </tr>
                        <tr>
                            <td colspan="3" height="20"></td>
                        </tr>
                        <tr>
                            <td width="25"></td>
                            <td width="510" height="55" style=" padding:15px;background:#fef3d7; border-radius:6px;font-size:13px; line-height:24px; color:#9b7100;"> 地接公司将根据您最后确认的航班信息安排接送机服务，<br />
                                若您的航班信息需要调整，请务必在<b style="color:#ff4d2c"><?=date('m月d日',strtotime($departure_date)-86400*2)?> </b>前在
                                <a href="<?=Yii::$app->config->ssl?>/my/home" target="_blank"  style="color:#ff4d2c">[会员中心]</a>中更新完成；<br />
                                若出发前2天内变更航班信息，地接公司将无法安排，请自行安排接机 </td>
                            <td width="25"></td>
                        </tr>
                        <tr>
                            <td colspan="3" height="20"></td>
                        </tr>
                        </tbody>
                    </table></td>
            </tr>
            <tr>
                <td colspan="3" height="40"></td>
            </tr>
            </tbody>
        </table></td>
    <td width="32"></td>
</tr>