<tr>
    <td width="38"></td>
    <td width="680"><table width="680" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td colspan="3" height="40"></td>
        </tr>
        <tr>
            <td width="85" valign="top" style="text-align:center;"><img src="http:<?php if($avatar_2):?><?=\Yii::$app->helper->getImgDomain().'/'.$avatar_2?><?php else:?><?= \Yii::$app->helper->getStaticDomain()?>/images/client_service_home/user.png<?php endif;?>" width="82" height="82" alt="行程顾问" style=" margin-bottom:10px;" /><br />
                <?=$name_en?><br />
                行程顾问</td>
            <td width="35" valign="top" align="right"><img src="http://img1.quimg.com/images/email/arrow.png" width="14" height="55" /></td>
            <td width="560" style=" background:#fff; border-radius:10px;box-shadow:6px 6px 6px #e0e0e0;"><table width="560" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td width="25"></td>
                    <td width="510" height="50" style="font-size:24px;color:#333;">Hi&nbsp;<span style="color:#4db6d9;"><?=$screenname?></span></td>
                    <td width="25"></td>
                </tr>
                <tr>
                    <td width="25"></td>
                    <td width="510" style="font-size:16px; line-height:24px;color:#333;">您的行程即将出发，请务必将凭证打印并在参团当日随身携带</td>
                    <td width="25"></td>
                </tr>
                <tr>
                    <td colspan="3" height="10"></td>
                </tr>
                <tr>
                    <td width="25"></td>
                    <td width="510" style="font-size:14px; line-height:24px;color:#999;"> 订单编号：<?=$orderconf?><br />
                        产品名称：<a href="<?=\Yii::$app->params['service']['www']?>/tour/view/tourcode-<?=$tourcode?>" target="_blank" style="color:#999;"><?=$product_title?> 编号：<?=$tourcode?></a><br />
                        出发日期：<?=$departure_date?> </td>
                    <td width="25"></td>
                </tr>
                <tr>
                    <td colspan="3" height="10"></td>
                </tr>
                <tr>
                    <td width="25"></td>
                    <td width="510"><a href="<?=$voucherUrl?>" target="_blank"><img src="http://img1.quimg.com/images/email/btn03.png" width="125" height="33" alt="查看电子凭证" /></a></td>
                    <td width="25"></td>
                </tr>
                <tr>
                    <td width="25"></td>
                    <td width="510" height="20" style=" background:url(http://img1.quimg.com/images/email/arrow2.png) no-repeat 50px bottom;"></td>
                    <td width="25"></td>
                </tr>
                <tr>
                    <td colspan="3" height="30"></td>
                </tr>
                </tbody>
            </table></td>
        </tr>
        <tr>
            <td colspan="3" height="40"></td>
        </tr>
        </tbody>
    </table></td>
    <td width="32"></td>
</tr>