<table width="750" cellspacing="0" cellpadding="0" border="0" style="margin:0 auto; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc; border-bottom:1px solid #ccc; font-size:12px;  color:#666;background: #f2f2f2; font-family:Microsoft YaHei">
    <tbody>
    <tr style="background:#fff;">
        <td width="38"></td>
        <td width="680"><table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td colspan="2" height="30"></td>
                </tr>
                <tr>
                    <td width="150"><a href="<?=Yii::$app->config->www?>/themes/anniversarypackage_deals?utm_source=lulutrip&utm_medium=edmcrm&utm_campaign=CANANN10CRMEDM" target="_blank"><img src="http://img1.quimg.com/images/email/logo_10znn.png" width="207" height="84" alt="路路行旅游订购网"/></a></td>
                    <td width="530"><p style=" height:27px; line-height:27px; font-size:18px; margin:0; padding:0; text-align:right;color:#999;">路路行 7x24 服务热线</p>
                        <p style="height:20px; font-size:12px; line-height:20px;margin:0;padding:0;text-align:right;color:#999;"><span style="color:#1155cc; text-decoration:underline;">+1-408-786-0688</span>（北美）<span style="color:#1155cc; text-decoration:underline;">400-821-8973</span> （中国）<span style="color:#1155cc; text-decoration:underline;">+44-2036086528</span> （英国）</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="30"></td>
                </tr>
                </tbody>
            </table></td>
        <td width="32"></td>
    </tr>

    <tr style="background:#2aa3ce;" height="50">
        <td width="38"></td>
        <td width="680"><table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td width="400" style="font-size:16px; color:#fff; font-weight:bold;"><?= Yii::$app->controller->emailTitle ?></td>
                    <style>
                        .button-common{
                            position:absolute;
                            display:inline-block;
                            padding:0px 16px;
                            color:#fff;
                            background-color: #55acd2;
                            border:1px solid #55acd2;
                            cursor:pointer;
                            line-height:25px;
                            text-decoration:none;
                            border-radius:0.5em;
                            margin-top:-12px;
                        }
                    </style>
                    <td style="text-align:right;" width="415">
                        <a style="display:inline-block;padding:0px 16px;margin-right:5px;color:#fff;background-color:#55acd2;border:1px solid #55acd2;line-height:25px;text-decoration:none;border-radius:0.5em" href="<?=Yii::$app->config->www?>" target="_blank" width="52" height="25">首页
                        </a>
                        <a style="display:inline-block;padding:0px 16px;margin-right:5px;color:#fff;background-color:#55acd2;border:1px solid #55acd2;line-height:25px;text-decoration:none;border-radius:0.5em" width="96" height="25" href="<?=Yii::$app->config->ssl?>/my/home" target="_blank" style="margin-right:10px;">我的会员中心
                        </a>
                        <a style="display:inline-block;padding:0px 16px;color:#fff;background-color:#55acd2;border:1px solid #55acd2;line-height:25px;text-decoration:none;border-radius:0.5em" href="<?=Yii::$app->config->diy?>" target="_blank" width="55" height="25">自由行</a>
                    </td>
                </tr>
            </table></td>
        <td width="32"></td>
    </tr>

    <?= $content ?>

    <tr style="background:#f2f2f2;" height="149">
        <td colspan="3" width="750" style="text-align: center;"><img src="http://llt.quimg.com/llt-static/images/email/email_foot1.jpg" width="701" height="149" alt="路路行全体成员祝您旅途愉快！"/>
        </td>
    </tr>

    <tr height="46">
        <td colspan="3" width="750" style="text-align: center;"><img src="http://llt.quimg.com/llt-static/images/email/email_foot2.jpg" width="100%" alt="路路行全体成员祝您旅途愉快！"/></td>
    </tr>
    <tr style="background:#fff;" height="80">
        <td colspan="3" width="750" style="text-align: center;"><img src="http://llt.quimg.com/llt-static/images/email/email_foot3.jpg" width="581" height="80" alt="路路行旅行网 将世界旅行送至你的指尖！"/></td>
    </tr>
    </tbody>
</table>