config/define.php
config/params-local.php
config/main-local.php
config/log.php
config/releaseVersion
/cscope.out
/cscope.files
/workspace.vim
.idea/
.phpintel/
.buildpath
.project
.settings/
.DS_Store
/*.cmd
*.tags
*.tags_sorted_by_file
/git-checkout.cmd
dump.rdb