runtime
assets
config/main-local.php
config/params-local.php
web/index.php
.idea/
/cscope.out
/cscope.files
/workspace.vim
.phpintel/
.buildpath
.project
.settings/
.DS_Store
/*.cmd
*.tags
*.tags_sorted_by_file
/git-checkout.cmd
dump.rdb